body,html {
  padding: 0;
  margin: 0;
	
}

* {
  font-family: 'azo-sans-web', 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245,245,245,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(235,235,235,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: radial-gradient(ellipse at center, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebebeb', GradientType=1 );
}

#view-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245,245,245,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(235,235,235,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	background: radial-gradient(ellipse at center, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebebeb', GradientType=1 );
}

#touch-element {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  
}

.background-touch {
  position: absolute;
  font-size: 48px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  top: 50%;
  margin-top: -25px;
  text-align: center;
	color: #ddd;
	vertical-align: center;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.2em;
}

.touch-indicator {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  background: #000;
}