body,html {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #bbb;
}

#view-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

#touch-element {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  
}

.background-touch {
  position: absolute;
  font-size: 48px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  width: 100%;
  top: 50%;
  margin-top: -25px;
  text-align: center;
}

.touch-indicator {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  background: #000;
}